extends layout

block content
    each toilet, i in toilets 
        .panel.panel-success.toilet-image(style='background-image: url("' + toilet.imagePath + '")')
            .icon-container
                    a.image-icon(href="/toilet/" + toilet._id)
                        img(src="https://png.icons8.com/toilet-bowl/ios7/32" title="Toilet Bowl" width="32" height="32")
                    a.image-icon(href="/fileupload/" + toilet._id)
                        i(class="fa fa-camera-retro" aria-hidden="true")
                    a.image-icon(href="/toilets/rate/" + toilet._id)
                        span(class="mif-shit")  
            ul.panel-body
                h2= toilet.place
                li.list-group-item= toilet.address.number + " " + toilet.address.street
                li.list-group-item= toilet.address.zipcode + " " + toilet.address.city
                li.list-group-item= toilet.address.country
    