extends layout

block content
    h1 All Toilets
    ul
        each toilet, i in toilets 
            li
                a(href="/toilets/" + toilet._id)= toilet.place
                ul
                    li= toilet.address.number + " " + toilet.address.street
                    li= toilet.address.zipcode + " " + toilet.address.city
                    li= toilet.address.country
    a(href="/toilets/add") Add Toilet