doctype html
html
    head
        title Toilet Viewer
        meta(charset="utf-8", lang="en")
    body
        h1 Toilets
        block content
        br
        hr
        footer
            p Copyright &copy; 2017
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="/js/main.js")