.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

html,
body {
  height: 100%;
  background-color: #4791D2;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

button {
  background-color: transparent;
  border: none;
}

h2 {
  color: white;
  text-shadow: 2px -2px #000;
  font-weight: bold;
}

/* Home Page */

a {
  color: whitesmoke;
  font-size: 24px;
  font-family: inherit;
  font-style: italic;
}

a:link {
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

a:hover{
  color: #F89406;
  text-decoration: none;
}

a:active {
  color: whitesmoke;
}

ul.panel-body {
  width: 50%;
  margin: 0 auto;
}

.list-group {
  margin: 10px auto;
  width: 50%;
  background-color: transparent;
  
}

.toilet-image{
  /*background-image: url(toilet.imagePath);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  margin: 10px auto;
  padding: 15px;
}

.list-group-item {
  color: white;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px -2px #000;
}

.icon-container {
  float: left;
  width: 50px;
  margin: 5px auto;
}

.image-icon {
  margin: 10px;
  cursor: pointer;
  display: block;
}

.fa {
  color: black;
}

.mif-shit {
  color: #B05E12;
}

.mif-shit:hover {
  color: white;
}

.fa:hover {
  color: white;
}

/* file uploader */

.row {
  margin-top: 80px;
}

.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

/*h4 {
  padding-bottom: 30px;
  color: #B8BDC1;
}*/

.glyphicon {
  font-size: 5em;
  color: #9CA3A9;
}

.upload-heading {
  margin-top: 15px;
  color: #68757E;
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
}

#upload-input{
  display: none;
}

/* rating */

div.stars {
  width: 270px;
  display: inline-block;
}

/*group 1 */

input.star1 { display: none; }

label.star1 {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star1:checked ~ label.star1:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.starA-5:checked ~ label.star1:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.starA-1:checked ~ label.star1:before { color: #F62; }

label.star1:hover { transform: rotate(-15deg) scale(1.3); }

label.star1:before {
  content: '\f006';
  font-family: FontAwesome;
}

/* group 2 */

input.star2 { display: none; }

label.star2 {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star2:checked ~ label.star2:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.starB-5:checked ~ label.star2:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.starB-1:checked ~ label.star2:before { color: #F62; }

label.star2:hover { transform: rotate(-15deg) scale(1.3); }

label.star2:before {
  content: '\f006';
  font-family: FontAwesome;
}

/* group 3 */ 

input.star3 { display: none; }

label.star3 {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star3:checked ~ label.star3:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.starC-5:checked ~ label.star3:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.starC-1:checked ~ label.star3:before { color: #F62; }

label.star3:hover { transform: rotate(-15deg) scale(1.3); }

label.star3:before {
  content: '\f006';
  font-family: FontAwesome;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}